.modal-dialog.dis{
    width: 800px;
}
.mainImage img{
    width: 100%;
}
.modal-dialog.dis .modal-body, .modal-dialog.dis .modal-content{
    float: left;
    width: 100%;
}
.modal-dialog.dis .modal-body{
    padding: 40px 20px;
    padding-top: 0;
}
.modal-body .content h3{
    margin-top: 0;
}
.hoverEdit{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9);
    opacity: 0;
    transition: 1s ease-out;
}
.hoverEdit i{
    color: #fff;
    font-size: 35px;
    position: absolute;
    left: 45%;
    top: 45%;
    cursor: pointer;
}
.item-space figure:hover .hoverEdit{
    opacity: 1;
}
.createButton{
    padding: 10px 0;
    text-align: right;
}
.createButton button{
    background-color: #337ab7;
    border-color: #2e6da4;
}
#portfolio{
    min-height: 830px;
}